@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Poppins:wght@100;200&display=swap');

body{
    font-family: 'Shadows Into Light', cursive;
}
#carouselExampleFade .carousel-inner img{
    max-height: 75vh;
    object-fit: cover; 

    
}

#carouselExampleFade{
    position:relative;
}

.card img{
    width:100%;
    aspect-ratio:1;
}

.btn{
    background-color:#D9B504;
}

.form-control{
    border-radius: 0;
}


